#tranning_main_content{
    display: flex;
    justify-content: space-between;
    div{
        width: 45%;
    }
}

#table_main_container{
    background-image: url("../images/1bacground.jpg");
    // margin: 2%;
    // padding: 2%;
    // align-items: center;
    // display: inline-block;
    //justify-content: center;
}