<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>slide 28 Media Query</title>
			<link rel="stylesheet"
			  type="text/css"
			  href="../style/slide28CssMediaQuery.css">
	</head>
	<body>
	<div class="box">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
			tristique metus porta vehicula bibendum.Maecenas dictum
			vestibulum lobortis.Ut placerat leo sit amet odio posuere, id
			scelerisque nisi bibendum. Nulla vel ex finibus, imperdiet metus in,
			faucibus tellus.Vestibulum ornare augue in augue tempor rutrum.
			Vivamus molestie scelerisque porttitor. Sed elementum sapien non quam
			cursus posuere.
		</p>
		</div>
	</body>
</html>