@charset "ISO-8859-1";
.transform-circle{
	width: 200px;
	height: 200px;
	background-color: pink;
    border-radius: 50%;
    text-align: center;
    transform: translate(30px, 80px) rotate(30deg);
}
