<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Controller</title>
    <script src="js/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="myController">
        Enter Password: <input type="password" ng-model="password"> <br>

        <button ng-click="DisplayMessage(password)">Show Password</button>
    </div>
    <script>
        var myApp = angular.module('myApp', []);

        myApp.controller("myController", function ($scope, $window) {
            $scope.password = "I Love AngularJs";
            $scope.DisplayMessage = function (value) {
                $window.alert(value);
            }
        });
    </script>
</body>