<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Flexbox</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>

<body>
    <div class="menu_container">
        <div class="menu_item more">
            <p>My Logo</p>
        </div>
        <div id="header_search_form">
            <span id="form_all_dropdown">
                <span>All</span> <i class="fas fa-caret-down"></i>
            </span>
            <input type="text" id="header_search_input">
            <button><i class="fas fa-search"></i></button>
        </div>
        <div class="menu_item">
            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="title_container">
        <h1>Page Heading</h1>
        <h3>Secondary Text</h3>
    </div>
    <div class="main_content">
        <div class="sub_main">
            <div class="main-items">
                <div class="img">
                    <img src="../images/lily.jpg" />
                </div>
                <div class="img_content">
                    <h4>Product One</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500
                    </p>
                </div>
            </div>

            <div class="main-items">
                <div class="img">
                    <img src="../images/bny.jpg" />
                </div>
                <div class="img_content">
                    <h4>Product two</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500
                    </p>
                </div>
            </div>

            <div class="main-items">
                <div class="img">
                    <img src="../images/laptopCodingbackground.jpg" />
                </div>
                <div class="img_content">
                    <h4>Product three</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500
                    </p>
                </div>
            </div>

            <div class="main-items">
                <div class="img">
                    <img src="../images/dollarFoldedBackground.jpg" />
                </div>
                <div class="img_content">
                    <h4 id="product_four">Product four</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500
                    </p>
                </div>
            </div>

            <div class="main-items">
                <div class="img">
                    <img src="../images/laptopCodingbackground.jpg" />
                </div>
                <div class="img_content">
                    <h4>Product five</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500
                    </p>
                </div>
            </div>

            <div class="main-items">
                <div class="img">
                    <img src="../images/dollarFoldedBackground.jpg" />
                </div>
                <div class="img_content">
                    <h4>Product six</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------Social Icons------------------------------------------------->
    <div id="social_icon">
        <a href="http://www.facebook.com/bnymellon"><i class="fab fa-facebook-f"></i></a>
        <a href="http://www.youtube.com/user/BNYMellon"><i class="fab fa-youtube"></i></a>
        <a href="http://www.twitter.com/bnymellon"><i class="fab fa-twitter"></i></a>
        <a href="http://www.linkedin.com/company/bny-mellon"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/bnymellon/"><i class="fab fa-instagram"></i></a>
    </div>
    <!----------------------------------------End Of Social Icons------------------------------------------------->


    <!-----------------------------------Footer------------------------------------------->
    <div id="footer_container">
        <a href="index.html">Back to Top</a>
        <div>
            <div>
                <p>&copy;2019 THE BANK OF NEW YORK MELLON CORPORATION</p>
            </div>
        </div>
    </div>
</body>

</html>