<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>slide 07 videos with iFrame</title>
	</head>
	<body>
		<iframe width="560" height="315"
		src="https://www.youtube.com/embed/F8OfNYeVEgw"
		frameborder="0"
		allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen>
		</iframe>
	</body>
</html>

<iframe width="300" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
src="https://www.openstreetmap.org/export/embed.html?bbox=-152.05078125%2C17.895114303749143%2C-61.52343750000001%2C53.85252660044951&amp;layer=mapnik" 
style="border: 1px solid black"></iframe><br/><small>
<a href="https://www.openstreetmap.org/#map=4/38.03/-106.79">View Larger Map</a></small>