<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="../styles/homePage.css">
</head>

<body>
    <!-- Main Container -->
    <div>
        <div class="headerContainer">
            <header>
                <p>
                    <img src="../images/logo01.jpg" width="90px" height="85px" align="left" align="center" />
                </p>
                <h1>Welcome</h1>
                <!--Include a nav to link other pages  -->

                <nav>
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                    <hr>
                </nav>
            </header>
        </li>
        <!-- Main content of the page -->
        <div class="bodyContainer">
            <h3>Global Well</h3>
            <br>
            <p>
                Global Well is a multifaceted non-profit organization that is still in its growth phase. Global Well is
                currently running operations in 25 countries, with more than 200 different projects and programs over
                the world. This company currently has over 120,000 employees over the world and 8.39% of total
                employees are composed from U.S. workforce. Amongst the U.S. workforce 42% of them are deployed to
                international programs. The current turnover rate of U.S. citizens in line staff is 11% and 8% amongst
                supervisory staff. The international programs turnover rate for line staff is 8% and supervisory staff
                is 4.5%. Global Well U.S. citizen positions are currently 13% understaffed in line staff and 9.5%
                understaffed in supervisory staff and in international programs they are understaffed by 9% in line
                staff and 7% in supervisory staff. </p>
            <p>
                Global Well is a multifaceted non-profit organization that is still in its growth phase. Global Well is
                currently running operations in 25 countries, with more than 200 different projects and programs over
                the world. This company currently has over 120,000 employees over the world and 8.39% of total
                employees are composed from U.S. workforce. Amongst the U.S. workforce 42% of them are deployed to
                international programs. The current turnover rate of U.S. citizens in line staff is 11% and 8% amongst
                supervisory staff. The international programs turnover rate for line staff is 8% and supervisory staff
                is 4.5%. Global Well U.S. citizen positions are currently 13% understaffed in line staff and 9.5%
                understaffed in supervisory staff and in international programs they are understaffed by 9% in line
                staff and 7% in supervisory staff.
            </p>
            <hr>

            <!-- Footer -->
            
            <footer>
                <a href="indexGrid.html">Link to the top of the page</a><br>
                Copyright xxxx @ year<br> Updated February 14,2019<br>
                Webmaster: mcoedon@perscholas.org
                </p>
            </footer>
            </div>
        </div>
    </div>
</body>

</html>