<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>FlexBox</title>
		<link rel="stylesheet"
			  type="text/css"
			  href="../styles/mainCssFlexBox.css">
	</head>
	<body>
		<div class="menu_container" >
		<div class="menu_item .more">
                <p>Logo</p>
            </div>
		<div class="menu_item">
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					
						<li><a href="#">About</a></li>
							<li><a href="#">Services</a></li>
								<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
		</div>
		<!-- End of Menu Container -->
		
		   <div class="title_container">
            <h1>Page Heading</h1>
            <h3>Secondary Text</h3>
        </div>
		<!-- Main content -->
		<div class="main_content">
			<div class="sub_main">
				<div class="main-items">
					<div class="img">
					<img src=""/>
					</div>
					<div class="img_content">
					<h4>Project One</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
						tristique metus porta vehicula bibendum.Maecenas dictum
						vestibulum lobortis.Ut placerat leo sit amet odio posuere, id
						scelerisque nisi bibendum. Nulla vel ex finibus, imperdiet metus in,
						faucibus tellus.
					</p>
					
					</div>
				</div>
				 <div class="main-items">
                    <div class="img">
                        <img src="lily_of_the_valley_close_up_spring_surface_reflection_68950_1280x720.jpg" />
                    </div>
                    <div class="img_content">
                        <h4>Project One</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                        </p>
                    </div>
                </div>

                <div class="main-items">
                    <div class="img">
                        <img src="" />
                    </div>
                    <div class="img_content">
                        <h4>Project One</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                        </p>
                    </div>
                </div>

                <div class="main-items">
                    <div class="img">
                        <img src="" />
                    </div>
                    <div class="img_content">
                        <h4>Project One</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                        </p>
                    </div>
                </div>
               
                </div>
		</div>
	</body>
</html>