<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>FlexBox</title>
			<link rel="stylesheet"
			  type="text/css"
			  href="../styles/flexBoxSlide27.css">

	</head>
	<body>
		
		<div class="flex_container">
			<div class="flex_item last_item">
				1
			</div>
			
			<div class="flex_item last_item">
				2
			</div>
		
			<div class="flex_item last_item">
				3
			</div>
			<div class="flex_item second_item">
				4
			</div>
			<div class="flex_item flex_item_expanded">
				5
			</div>
			<div class="flex_item second_item">
				6
			</div>
		</div>
	</body>
</html>