<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>FlexBox</title>
		<style>
		
		
		.main-container{
		width: 800px;
		height: 800px;
		background-color: skyblue;
	    display: flex;
		}
		.flex_item{
	
		height: 50%;
		background-color: grey;
		display: flex;
	
		
		/*flex: xx yy zz;------Shorthand */
		
		flex-grow: 1;
	
		}
		.flex_itemA{
		
		height: 50%;
		background-color: pink;
        flex-grow: 1;
      
       
		}
		
		
		</style>
	</head>
	<body>
		
		<div class="main-container">
			<div class="flex_itemA">
				<p>
					The flex-grow CSS property sets how much of the available space in the flex container should be
				    assigned to that item (the flex grow factor). If all sibling items have the same flex grow factor, 
				    then all items will receive the same share of available space,
                    otherwise it is distributed according to the ratio defined by the different flex grow factors.
				</p>
			</div>
			
			<div class="flex_item">
				<p>
					The flex-grow CSS property sets how much of the available space in the flex container should be
				    assigned to that item (the flex grow factor). If all sibling items have the same flex grow factor, 
				    then all items will receive the same share of available space,
                    otherwise it is distributed according to the ratio defined by the different flex grow factors.
				</p>
			</div>
		
			<div class="flex_itemA">
				<p>
					The flex-grow CSS property sets how much of the available space in the flex container should be
				    assigned to that item (the flex grow factor). If all sibling items have the same flex grow factor, 
				    then all items will receive the same share of available space,
                    otherwise it is distributed according to the ratio defined by the different flex grow factors.
				</p>
			</div>
			<div class="flex_item">
				<p>
					The flex-grow CSS property sets how much of the available space in the flex container should be
				    assigned to that item (the flex grow factor). If all sibling items have the same flex grow factor, 
				    then all items will receive the same share of available space,
                    otherwise it is distributed according to the ratio defined by the different flex grow factors.
				</p>
			</div>
			<div class="flex_itemA">
				<p>
					The flex-grow CSS property sets how much of the available space in the flex container should be
				    assigned to that item (the flex grow factor). If all sibling items have the same flex grow factor, 
				    then all items will receive the same share of available space,
                    otherwise it is distributed according to the ratio defined by the different flex grow factors.
				</p>
			</div>
			<div class="flex_item">
				<p>
					The flex-grow CSS property sets how much of the available space in the flex container should be
				    assigned to that item (the flex grow factor). If all sibling items have the same flex grow factor, 
				    then all items will receive the same share of available space,
                    otherwise it is distributed according to the ratio defined by the different flex grow factors.
				</p>
			</div>
		</div>
	</body>
</html>