<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sass if statement</title>
    <link rel="stylesheet" type="text/css" href="../css/ifstatement.css">
</head>

<body>
 <div class="main_container">
     div
 </div>
    <!-- ----slide 30----
    <div class="flex_container">
        This is flex container
        <div class="flex_item">
            This is flex item container
        </div>
    </div>

</body>

</html> -->